.App {
  text-align: center;
  overflow-x: hidden;
}


#navbar-brand{
  font-size: 37px;
  font-family: 'Pacifico', cursive;
  color: lightgreen
}


.image{
  background-size: cover;
  background-position: center;
  min-width: -webkit-fill-available;
  height: -webkit-fill-available;
  position: absolute;
  right: 0;
  opacity: 0.9;
}


.head{
  position: relative;
  color: white;
  padding: 240px 0;
}

.head1{
  font-size: 9vmin;
  padding-bottom: 40px;
  font-family: 'Bangers', cursive;
}

#border{
  border: solid 1px;
  width: 55vmin

}

#btn{
  font-size: 1.7rem;
  border-radius: 7%;
}

#recipe-list{
  list-style: none;
  font-size: larger;
}






